.search {
  margin-top: 30vh;

  h1 {
    margin-bottom: 1em;
  }

  input {
    width: 100% !important;
  }

  .error {
    margin-top: 5px;
    padding: 5px 15px;
    border-radius: 4px;
  }
}

.character {
  margin-top: 14px;
}

.comics {
  margin-top: 40px;
}